@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --black: #111019;
    --light-grey: #5F5F76;
    --dark-grey: #302E40;
    --aqua-green: #36D4B7;
    --yellow: #FFC336
  }

  .dark {
  }
}

/* @layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
} */

body {
  background-color: var(--black);
} 
